/*
*/ 
* {
	border: 1px solid red;
}


@font-face {
	font-family: myFirstFont;
	src: url('Nature Beauty.ttf'),
}

@font-face {
	font-family: mySecondFont;
	src: url('The Bride.ttf'),
}

html { scroll-behavior: smooth; }

h1 {
	font-family: mySecondFont;
	font-size: 80px;
}

body {
	margin: 0;
	align-items: center;
	background-color: rgb(176, 255, 252);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	place-items: center;
}


nav {
	text-align: center;
	z-index: 100;
	position: fixed;
	top: 0;
	padding: 10px;
	background-color: rgb(176, 255, 252);
	border-radius: 30px;
	font-size: 30px;
	transition: top 2s;
	width: 100%;
	/* Transition effect when sliding down (and up) */
}

#navbar {
	font-family: myFirstFont;

}

logo {
	padding-top: 100px;
	text-align: center;
}

.butterflytitle {
	display: flex;
	align-items: center;

}



footer {
	color: aliceblue;
	background-color: rgb(44, 35, 69);
	width: 100%;
	align-items: center;
}

.text {
	padding-left: 20px;
	padding-right: 20px;
  	align-items: center;
	text-align: center;
	position:relative;
	overflow:hidden;
}


.fadingEffect {
	
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgb(176, 255, 252);
    opacity: 0; /* Initialement invisible */
    /* Supprimer animation initiale pour éviter d'overrider */
}

.fadingEffect.visible {
    opacity: 1; /* Visible */
    animation: showHide 3s ease-in forwards; /* Animation déclenchée */
}

.fadingEffect2 {
	
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgb(176, 255, 252);
    opacity: 0; /* Initialement invisible */
    /* Supprimer animation initiale pour éviter d'overrider */
}

.fadingEffect2.visible {
    opacity: 1; /* Visible */
    animation: fadein 3s ease-in forwards; /* Animation déclenchée */
}

.fadingEffect3 {
	
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgb(44, 35, 69);
    opacity: 0; /* Initialement invisible */
    /* Supprimer animation initiale pour éviter d'overrider */
}

.fadingEffect3.visible {
    opacity: 1; /* Visible */
    animation: fadein 3s ease-in forwards; /* Animation déclenchée */
}

@-webkit-keyframes showHide { /* Chrome, Safari */
	0% {width:100%}
	40% {width:70%}
	60% {width:0%;}
	100% {width:0%;}
}
@-moz-keyframes showHide { /* FF */
	0% {width:100%}
	40% {width:70%}
	60% {width:0%;}
	100% {width:0%;}
}
@-ms-keyframes showHide { /* IE10 */
	0% {width:100%}
	40% {width:70%}
	60% {width:0%;}
	100% {width:0%;}
}
@-o-keyframes showHide { /* Opera */
	0% {width:100%}
	40% {width:70%}
	60% {width:0%;}
	100% {width:0%;}
}
@keyframes showHide {
	0% {width:100%}
	40% {width:70%}
	60% {width:0%;}
	100% {width:0%;}
}

@keyframes fadein {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}




.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, button {
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}